body{
    background-image: url("../img/background.jpeg");
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}
#ui{
    padding:30px;
    margin-top: 150px;
    background-image: linear-gradient(to bottom right, #708ae9, #d5b4e1
    );
    border-radius: 20px;
}
#ui, h2{
    text-align: center;
}
#ui input{
    border-radius: 10px;
    border: 0px;
}
#ui span{
    color: #fff;
    position: absolute;
    top: 160px;
    right: 30px;
    cursor: pointer;
    font-size: 30px;
}